* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#info {
    margin: auto;
    width: 80%;
    max-width: 500px;
    border: 3px solid #0060AA;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

#calculator {
    display: none;
}

body {
    background: linear-gradient(109.6deg, rgb(243, 67, 67) 11.2%, rgb(2, 38, 208) 100.2%);
    background-image: url("../img/bg-red.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: navy;
    background-color: lightskyblue;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    max-width: 500px;
    border-radius: 20px 20px 0 0;
    border: 3px solid #0060AA;
    border-bottom: 0;
    padding: 5px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#btns {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    max-width: 500px;
    border: 3px solid #0060AA;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 0 0 20px 20px;
    border-top: 0;
    text-align: center;
}

#center:hover {
    cursor: grab;
}

label {
    display: inline-block;
    font-size: 1.1rem;
    padding-left: 5px;
    padding-right: 10px;
    width: 15%;
}

span {
    display: inline-block;
    font-size: 1.1rem;
    padding-left: 10px;
    width: 20%;
}

button {
    margin: 8px 0;
}

button:hover {
    background-color: #0099f7;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

input {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom: 2px solid red;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
}

input:focus {
    background-color: lightblue;
}

img#fly {
    width: 100%;
}

img {
    display: inline-block;
    width: 20px;
}

#clear {
    color: red;
}


/* CSS */

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


/* CSS */

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}


/* CSS */

.button-50 {
    appearance: button;
    background-color: lightblue;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}